<div class="maincont">
	<nav class="nav-custom-top">
		LMT <div class="icon-container"><i class="fas fa-chart-area"></i></div>
	</nav>

	<div class="container-custom">
    <div class="row banner-parent">
        
        <div class="col-sm-4">
            <div class="banner-cont">
                {% load staticfiles %}
                <img src="{% static 'manage.svg' %}">

                <h1 style="margin-top:30px;">Manage</h1>
                <hr class="small-hr">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>


        <div class="col-sm-4">
          <div class="banner-cont">
              {% load staticfiles %}
                <img src="{% static 'analyze.svg' %}">

                <h1>Analyze</h1>
                <hr class="small-hr">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="banner-cont">
            {% load staticfiles %}
                <img src="{% static 'maintain.svg' %}">

                <h1>Maintain</h1>
                <hr class="small-hr">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </div>
        </div>
    </div>

    <div class="footer-big">
      {% load staticfiles %}
          <img src="{% static 'logo.png' %}" class="logo">Omnium Consultants 2Go

          <span style="float: right; margin-top: 10px;text-align: right;">Omnium LMT &copy; 2019
            <p class="small">A Prooduct of Omnium Consultants 2Go</p>
          </span>
    </div>

	</div>
</div>